

:root {
  /* CSS HEX */
  --rich-black: #001021ff;
  --midnight-green: #034748ff;
  --blue-ncs: #1481baff;
  --aero: #11b5e4ff;
  --process-cyan: #0caadcff;
  
  /* SCSS Gradient */
  --background-color: tan;
  
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Red Rose", serif;

  --page-icon-ft-size: 4rem;
  --page-icon-margin-top: 2rem;
  --page-icon-height: 90px;
}

:root{
  font-size:18px;
  @media screen and (max-width:1050px) {
    font-size:16px;
  }
  @media screen and (max-width:768px) {
    font-size:14px;
  }
}


.red-rose {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 300 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // outline:black 1px dashed;
}

html,
body {
  background:var(--background-color);
  max-width: 100vw;
}

body{
  // padding:clamp(15px, 5vw, 50px);
  interpolate-size: allow-keywords;
}

// NavBar
#masthead{
  --padding:1rem;
  padding:var(--padding);
  width:100%;
  max-width:var(--max-width);
  margin: 10px auto 0;
  position: sticky;
  top:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-radius:25px;
  // border:white 2px dashed;
  .color-mode{
    height:3rem;
    width:175px;
    svg{
      margin: auto;
      display: block;
      width:auto;
      height:100%;
    }
  }
  .button-pill.say-hello{
    font-size:2rem;
    transition: translate linear 250ms, box-shadow linear 250ms, padding-left linear 250ms 250ms;
    &::before{
      content:"👋";
      display: inline-block;
      width:0px;
      opacity: 0;
      transition: width ease-in-out 250ms 250ms, opacity ease-in 250ms 250ms;
    }
    &:hover,&:focus{
      padding-left:0.35em;
      &::before{
        opacity: 1;
        width:auto;
      }
    }
  } 
}

//footer
#colophon{
  --background:yellow;
  width:100%;
  margin:auto;
  .social-circle{
    position: relative;
    height:200px;
    // translate:0px 0.5px;
    // max-height: 25vh;
    #shape{
      display: block;
      width: 100%;
      height:100%;
      max-height:inherit;
    }
    .social-link{
      position: absolute;
      display: block;
      width:50px;
      height:50px;
      > *{
        width:100%;
        height:100%;
        display: block;
      }
    }
  }
  .text-wrapper{
    background-color: var(--background);
    padding:1em 2em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap:0.33em;
    // padding-bottom:50px;
  }
  .contact-info{
    a {
      display: block;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main{
  // border:5px solid purple;
  margin:2rem auto 2rem auto;
  max-width:var(--max-width);
}

#coverup{
  background-color:transparent;
  width:100%;
  height:100%;
  position: fixed;
  z-index: 10;
  top:0;
  opacity: 1;
  pointer-events: none;
  // transition: background-color var(--duration, 500ms) linear;
  // &.active{
  //   background-color:var(--background-color);
  // }
}

// Hero
.Hero{
  margin:2em auto 2em auto;
  min-height: var(--min-height);
  display: grid;
  place-items: center;
  width:fit-content;
  position: relative;

  --font-size: 8rem;
  --min-height: 200px;
  --flip-offset: calc(var(--font-size) * 0.85);
  @media screen and (max-width:768px) {
    --font-size: 6rem;
  }
  @media screen and (max-width:600px) {
    --min-height: 100px;
    // --font-size: 4rem;
  }
  h1{
      clip-path: xywh(0 0 100% 200%);
      margin:0 0 0 var(--flip-offset);
      grid-row:1/2;
      grid-column: 1/-1;
      font-size:var(--font-size);
      line-height: 0.75;
      font-weight: 900;
      text-transform: lowercase;
      letter-spacing: -0.1ch;
    
      > div{
        display: block !important;
        &:last-child{
          font-weight: 400;
          text-transform: lowercase;
        }
      }
  }
  svg{
    --clip-value: -1000px;
    grid-row:1/2;
    grid-column: 1/-1;
    display: block;
    margin: auto;
    width:auto;
    height:200%;
    // aspect-ratio: 1 / 2;
    overflow: visible;
    position: absolute;
    clip-path:  xywh(calc(0% + var(--clip-value)) 0 calc(100% - var(--clip-value)) 100%);
    circle{
      // outline: rgba(255, 255, 255, 0.486) 0.1px solid;
      // border-radius: 50%;
    }
  }
}

// Headline
.headline{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.5ch;
  height:100%;
  .spinner{
    display:block;
    height:100%;
    position: relative;
    // clip-path: inset(0 0 0 0);
    // &::before{
    //   // longest word
    //   content:'impactful';
    // }
    span.initialized{
      position: absolute;
      inset:0 0 0 0;
      width: fit-content;
      margin: auto;
    }
  }
}

// Arrow down
.arrow-down{
  margin:1em;
  svg{
    display: block;
    width:1.5rem;
    height:auto;
    margin: auto;
  }
}

// Scroll Nav
.animated-nav{
  --font-size:1.5rem;
  --padding: 5px;
  --border-color: teal;
  --gap:1em;
  margin: auto;
  max-width:800px;
  width:100%;
  height:max-content;
  display:grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  font-size:var(--font-size);
  padding:1em;
  a{
    //grid-area: span 2 / span 2;
    --cell-padding : calc(var(--padding) * 2);
    border-color:red;
    border-style:solid;
    border-width:var(--padding);
    overflow: hidden;
    padding:var(--cell-padding);
    display: block;
    z-index:1;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    h2{
      display: inline;
      text-align: left;
      font-size:1.5em;
    }
    .icon-wrapper{
      display: inline-block;
      float: right;
      clear:both;
      height: 1.45em;
      svg, img{
        height: 100%;
        width: auto;
      }
    }
    p{
      font-size:1em;
      position: relative;
      transition: top 500ms ease, opacity 250ms ease-out;
      top:100px;
      opacity:0;
      text-wrap-style: pretty;
    }
    &:hover{
      p{
        top:0;
        opacity:1;
      }
    }
  }
  .shadowBox {
    display:block;
    width:var(--padding);
    height:var(--padding);
    background:var(--border-color);
  }
}

// Buttons
.button-pill{
  --radius: 1em;
  // --height: 3rem;
  font-size:2rem;
  border-radius: var(--radius);
  border:2px solid black;
  padding:0.65em;
  line-height: 0.1;
  display:inline-block;
  transition: translate linear 250ms, box-shadow linear 250ms;
  box-shadow: 0px 0px 1px 0px #00000044;
  &:hover{
    translate:0px -3px;
    box-shadow: 0px 6px 10px 0px #00000044;
  }
}

// Pages
article{
  padding:0 1em;
  max-width:var(--max-width);
  margin: auto;
  #article_icon{
    position: absolute;
    font-size: var(--page-icon-ft-size);
    margin-top: var(--page-icon-margin-top);
    height: var(--page-icon-height);
    width: auto;
    svg{
      width:100%;
      height:100%;
      display: block;
    }
  }

  h1{
    font-size:4rem;
    margin:0.33em 0;
    width:fit-content;
  }

  h1 + hr {
    margin-top:-1rem;
  }

  p{
    margin:0.5em 0;
  }

  ul{
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
  }

  abbr{
    text-underline-offset: 2px;
  }

  h2{
    font-size:2.5rem;
    margin:1em 0 0.25em;
  }
  
  h3{
    font-size:1.5rem;
    margin:1em 0 0.25em;
  }

  ul.custom-icons{
    list-style: none;
    li{
      background-repeat: no-repeat;
      background-size: 24px 24px; 
      background-position: left center;
      padding-left: 36px; 
      line-height: 32px; 
      margin-bottom: 8px; 
    }
    li.web{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' viewBox='-5 -10 89.719002 89.585968' id='svg3' sodipodi:docname='theweb.svg' width='89.719002' height='89.585968' inkscape:version='1.3.2 (091e20e, 2023-11-25, custom)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs3' /%3E%3Csodipodi:namedview id='namedview3' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:zoom='6.0222222' inkscape:cx='44.833948' inkscape:cy='52.223247' inkscape:window-width='2560' inkscape:window-height='1009' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg3' /%3E%3Cg id='g2' transform='translate(-10.206908,-15.207029)'%3E%3Cpath d='M 66.918,94.793 C 64.25,94.793 61.75,93.336 60.5,90.961 60.29297,90.586 60.125,90.12897 60,89.754 L 49.707,58.961 c -0.91797,-2.625 -0.25,-5.543 1.75,-7.5 2,-2 4.875,-2.668 7.5,-1.75 L 89.75,60.004 c 0.33203,0.125 0.83203,0.25 1.332,0.58203 2.418,1.293 3.918,4.082 3.668,7 -0.25,2.957 -2.168,5.332 -5,6.25 l -11.457,3.832 c -0.33203,0.125 -0.54297,0.33203 -0.66797,0.66797 l -3.832,11.457 c -0.91797,2.793 -3.293,4.707 -6.25,4.957 H 66.87506 Z M 56.582,55.543 c -0.33203,0 -0.58203,0.16797 -0.70703,0.29297 -0.16797,0.16797 -0.41797,0.54297 -0.25,1.082 l 10.293,30.832 c 0.375,0.79297 0.91797,0.75 1.082,0.75 0.45703,0 0.75,-0.29297 0.875,-0.70703 l 3.832,-11.5 c 0.75,-2.207 2.418,-3.875 4.625,-4.582 l 11.457,-3.832 c 0.45703,-0.125 0.66797,-0.45703 0.70703,-0.875 0,-0.16797 0,-0.70703 -0.5,-1 l -31.082,-10.375 c 0,0 -0.25,-0.08203 -0.375,-0.08203 z' id='path1' /%3E%3Cpath d='M 56.832,92.918 C 56.49997,92.37503 56.24997,91.625 56.03903,91 l -1.332,-4 c -1.293,0.83203 -2.625,1.375 -4,1.5 H 50 49.25 C 43.832,87.95703 38.168,80.875 34.957,69.793 h 14 l -2.082,-6.25 H 33.543 C 32.793,59.375 32.336,54.875 32.336,50 c 0,-4.875 0.45703,-9.375 1.207,-13.543 h 33 c 0.66797,3.625 1.043,7.582 1.125,11.75 L 74,50.332 v -0.33203 c 0,-4.75 -0.375,-9.293 -1.082,-13.543 h 13.125 c 1.625,4.25 2.543,8.793 2.543,13.543 0,1.707 -0.125,3.418 -0.33203,5.082 l 2.918,0.95703 c 0.45703,0.16797 1.25,0.41797 2.168,0.95703 0.33203,0.16797 0.58203,0.375 0.91797,0.58203 0.41797,-2.5 0.66797,-5 0.66797,-7.582 0,-24.082 -19.582,-44.168 -43.332,-44.707 -0.375,-0.042968 -0.875,-0.082031 -1.293,-0.082031 h -0.25 c -0.5,0 -0.91797,0 -1.043,0.042969 h -0.16797 -0.08203 c -24.09,0.75 -43.551,20.75 -43.551,44.75 0,24 19.582,44.168 43.332,44.707 0.45703,0.04297 0.95703,0.08203 1.457,0.08203 h 1.125 c 2.207,-0.04297 4.375,-0.25 6.543,-0.625 -0.29297,-0.41797 -0.625,-0.75 -0.875,-1.168 z M 82.957,30.207 H 71.582 C 70,24 67.664,18.625 64.789,14.5 c 7.582,3.207 13.918,8.75 18.168,15.707 z M 49.293,11.457 h 0.70703 0.75 c 5.418,0.54297 11.082,7.625 14.293,18.707 h -30.082 c 3.207,-11.082 8.875,-18.168 14.332,-18.75 z m -14.086,3.0859 c -2.875,4.168 -5.168,9.5 -6.75,15.668 H 17.082 c 4.207,-6.918 10.543,-12.457 18.125,-15.668 z m -23.75,35.457 c 0,-4.75 0.91797,-9.293 2.543,-13.543 h 13.125 c -0.70703,4.25 -1.082,8.793 -1.082,13.543 0,4.75 0.375,9.293 1.082,13.543 H 14 c -1.625,-4.25 -2.543,-8.793 -2.543,-13.543 z m 5.5859,19.793 h 11.375 c 1.582,6.207 3.918,11.582 6.793,15.707 -7.582,-3.207 -13.918,-8.75 -18.168,-15.707 z' id='path2' /%3E%3C/g%3E%3C/svg%3E%0A");
    }
    li.data{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg data-name='Layer 1' viewBox='0 0 89.002998 79.344322' x='0px' y='0px' version='1.1' id='svg6' sodipodi:docname='datadriven.svg' width='89.002998' height='79.344322' inkscape:version='1.3.2 (091e20e, 2023-11-25, custom)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs6' /%3E%3Csodipodi:namedview id='namedview6' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:zoom='6.504' inkscape:cx='44.434194' inkscape:cy='52.198647' inkscape:window-width='2560' inkscape:window-height='1009' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg6' /%3E%3Cpath d='M 15.353,41.034322 H 4.3429998 a 4.349,4.349 0 0 0 -4.34000005,4.34 v 29.62 a 4.351,4.351 0 0 0 4.34000005,4.35 H 15.353 a 4.351,4.351 0 0 0 4.34,-4.35 v -29.62 a 4.349,4.349 0 0 0 -4.34,-4.34 z' id='path1' /%3E%3Cpath d='m 38.453,23.314322 h -11.01 a 4.351,4.351 0 0 0 -4.34,4.35 v 47.33 a 4.351,4.351 0 0 0 4.34,4.35 h 11.01 a 4.351,4.351 0 0 0 4.34,-4.35 v -47.33 a 4.351,4.351 0 0 0 -4.34,-4.35 z' id='path2' /%3E%3Cpath d='m 79.153,6.0443222 a 9.856,9.856 0 0 0 -9.85,9.8499998 10.33,10.33 0 0 0 0.06,1.118 l -4.789,1.584 v 0 a 9.841,9.841 0 0 0 -15.8,-1.72 v 0 l -6.508,-3.851 v 0 a 9.844,9.844 0 1 0 -18.18,1.1 l -7.8,5.981 a 9.848,9.848 0 1 0 3.41,7.45 9.914,9.914 0 0 0 -0.97,-4.28 v 0 l 7.8,-5.981 v 0 a 9.841,9.841 0 0 0 13.7,-0.82 v 0 l 6.509,3.851 v 0 a 9.846,9.846 0 1 0 19.16,3.19 10.367,10.367 0 0 0 -0.06,-1.12 v 0 l 4.793,-1.585 A 9.846,9.846 0 1 0 79.153,6.0443222 Z' id='path3' /%3E%3Cpath d='m 61.553,36.994322 h -11.01 a 4.351,4.351 0 0 0 -4.34,4.35 v 33.65 a 4.351,4.351 0 0 0 4.34,4.35 h 11.01 a 4.351,4.351 0 0 0 4.34,-4.35 v -33.65 a 4.351,4.351 0 0 0 -4.34,-4.35 z' id='path4' /%3E%3Cpath d='m 84.653,29.364322 h -11.01 a 4.351,4.351 0 0 0 -4.34,4.35 v 41.28 a 4.351,4.351 0 0 0 4.34,4.35 h 11.01 a 4.36,4.36 0 0 0 4.35,-4.35 v -41.28 a 4.36,4.36 0 0 0 -4.35,-4.35 z' id='path5' /%3E%3C/svg%3E%0A");
    }
    li.ai{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' viewBox='-5 -10 84.374802 84.385399' id='svg4' sodipodi:docname='ai.svg' width='84.374802' height='84.385399' inkscape:version='1.3.2 (091e20e, 2023-11-25, custom)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs4' /%3E%3Csodipodi:namedview id='namedview4' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:zoom='6.0222222' inkscape:cx='42.177122' inkscape:cy='49.732472' inkscape:window-width='2560' inkscape:window-height='1009' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg4' /%3E%3Cpath d='m 78.2303,30.6864 c -21.375,-5.9023 -25.82,-10.352 -31.723,-31.723 -0.1875,-0.67969 -0.80469,-1.1484 -1.5078,-1.1484 -0.70311,0 -1.3203,0.46875 -1.5078,1.1484 -5.9023,21.375 -10.352,25.82 -31.723,31.723 -0.67969,0.1875 -1.1445,0.80469 -1.1445,1.5078 0,0.70311 0.46875,1.3203 1.1445,1.5078 21.375,5.9023 25.82,10.352 31.723,31.723 0.1875,0.67969 0.80469,1.1484 1.5078,1.1484 0.70311,0 1.3203,-0.46875 1.5078,-1.1484 5.9023,-21.375 10.352,-25.82 31.723,-31.723 0.67969,-0.1875 1.1445,-0.80469 1.1445,-1.5078 0,-0.70311 -0.46875,-1.3203 -1.1445,-1.5078 z m -33.23,28.758 c -5.1562,-16.477 -10.773,-22.098 -27.25,-27.25 16.477,-5.1562 22.098,-10.773 27.25,-27.25 5.1562,16.477 10.773,22.098 27.25,27.25 -16.477,5.1562 -22.098,10.773 -27.25,27.25 z' id='path1' /%3E%3Cpath d='m 12.1873,24.3824 c 0.70312,0 1.3203,-0.46875 1.5078,-1.1484 2.7344,-9.8984 4.6367,-11.801 14.535,-14.535 0.67969,-0.1875 1.1445,-0.80469 1.1445,-1.5078 0,-0.70311 -0.46875,-1.3203 -1.1445,-1.5078 C 18.3317,2.949 16.4291,1.0506 13.6951,-8.8516 13.5076,-9.53129 12.89041,-10 12.1873,-10 11.48419,-10 10.867,-9.53125 10.6795,-8.8516 7.9451,1.0468 6.0428,2.9494 -3.8555,5.6834 -4.53519,5.8709 -5,6.48809 -5,7.1912 c 0,0.70311 0.46875,1.3203 1.1445,1.5078 9.8984,2.7344 11.801,4.6328 14.535,14.535 0.1875,0.67969 0.80469,1.1484 1.5078,1.1484 z M 1.7383,7.1944 c 5.6758,-2.125 8.3242,-4.7734 10.449,-10.449 2.125,5.6758 4.7734,8.3242 10.449,10.449 -5.6758,2.125 -8.3242,4.7734 -10.449,10.449 C 10.0623,11.9676 7.4139,9.3192 1.7383,7.1944 Z' id='path2' /%3E%3Cpath d='m 30.5743,58.0304 c -8.3047,-2.293 -9.8984,-3.8867 -12.191,-12.191 -0.1875,-0.67969 -0.80469,-1.1484 -1.5078,-1.1484 -0.70311,0 -1.3203,0.46875 -1.5078,1.1484 -2.293,8.3047 -3.8867,9.8984 -12.191,12.191 -0.67969,0.1875 -1.1445,0.80469 -1.1445,1.5078 0,0.70311 0.46875,1.3203 1.1445,1.5078 8.3047,2.293 9.8984,3.8867 12.191,12.191 0.1875,0.67969 0.80469,1.1484 1.5078,1.1484 0.70311,0 1.3203,-0.46875 1.5078,-1.1484 2.293,-8.3047 3.8867,-9.8984 12.191,-12.191 0.67969,-0.1875 1.1445,-0.80469 1.1445,-1.5078 0,-0.70311 -0.46875,-1.3203 -1.1445,-1.5078 z m -13.699,9.7344 c -1.7227,-4.3281 -3.8984,-6.5039 -8.2266,-8.2266 4.3281,-1.7227 6.5039,-3.8984 8.2266,-8.2266 1.7227,4.3281 3.8984,6.5039 8.2266,8.2266 -4.3281,1.7227 -6.5039,3.8984 -8.2266,8.2266 z' id='path3' /%3E%3C/svg%3E%0A");
    }
    li.app{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' viewBox='-5 -10 90.000603 89.938103' id='svg2' sodipodi:docname='app.svg' width='90.000603' height='89.938103' inkscape:version='1.3.2 (091e20e, 2023-11-25, custom)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Csodipodi:namedview id='namedview2' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:zoom='6.0222222' inkscape:cx='45' inkscape:cy='52.389299' inkscape:window-width='2560' inkscape:window-height='1009' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg2' /%3E%3Cpath d='M 63.8559,67.5513 H 16.1449 V 44.3753 H 9.3793 v 29.512 c 0,3.3281 2.7227,6.0508 6.0508,6.0508 h 49.133 c 3.3281,0 6.0508,-2.7227 6.0508,-6.0508 V 65.0826 H 63.86 Z m -20.578,8.4805 h -6.5508 c -1.0117,0 -1.8281,-0.82812 -1.8281,-1.8281 0,-1.0117 0.82812,-1.8359 1.8281,-1.8359 h 6.5508 c 1.0117,0 1.8359,0.82812 1.8359,1.8359 0,1 -0.82812,1.8281 -1.8359,1.8281 z M 16.1449,2.3868 h 47.715 v 14.398 h 6.7539 V -3.9492 C 70.6138,-7.2773 67.8911,-10 64.563,-10 H 15.43 c -3.3281,0 -6.0508,2.7227 -6.0508,6.0508 v 8.7773 h 6.7656 z m 20.578,-8.4805 h 6.5508 c 1.0117,0 1.8359,0.82812 1.8359,1.8359 0,1.0117 -0.82812,1.8359 -1.8359,1.8359 h -6.5508 c -1.0117,0 -1.8281,-0.82812 -1.8281,-1.8359 -0.0078,-1.0078 0.82031,-1.8359 1.8281,-1.8359 z m 42.348,38.449 2.3359,-3.4883 -4.8281,-4.8281 -3.4883,2.3359 -4.3555,-1.8047 -0.81641,-4.1133 h -6.8164 l -0.81641,4.1133 -4.3555,1.8047 -3.4883,-2.3359 -4.8281,4.8281 2.3359,3.4883 -1.8047,4.3555 -4.1133,0.81641 v 6.8164 l 4.1133,0.81641 1.8047,4.3555 -2.3359,3.4883 4.8281,4.8281 3.4883,-2.3359 4.3555,1.8047 0.81641,4.1211 h 6.8164 l 0.81641,-4.1211 4.3555,-1.8047 3.4883,2.3359 4.8281,-4.8281 -2.3359,-3.4883 1.8047,-4.3555 4.1211,-0.81641 0.0039,-6.8242 -4.1211,-0.81641 z m -14.551,18.684 c -5.582,0 -10.113,-4.5312 -10.113,-10.113 0,-5.5938 4.5312,-10.113 10.113,-10.113 5.5938,0 10.113,4.5312 10.113,10.113 0,5.5938 -4.5312,10.113 -10.113,10.113 z m -66.684,-10.336 h 31.102 c 1.5625,0 2.8359,-1.2773 2.8359,-2.8359 v -26.531 c 0,-1.5625 -1.2773,-2.8359 -2.8359,-2.8359 H -2.1641 C -3.7266,8.5005 -5,9.7778 -5,11.3364 v 26.531 c 0,1.5625 1.2773,2.8359 2.8359,2.8359 z m 6.7266,-24.602 c 0,-0.53906 0.26562,-1 0.73438,-1.2656 0.46875,-0.27734 1,-0.27734 1.4688,0 l 14.723,8.5 c 0.46875,0.27734 0.73438,0.73437 0.73438,1.2773 0,0.53906 -0.26562,1 -0.73438,1.2656 l -14.723,8.5 c -0.46875,0.27734 -1,0.27734 -1.4688,0 C 4.82813,34.11298 4.5625,33.65594 4.5625,33.113 Z' fill-rule='evenodd' id='path1' /%3E%3C/svg%3E%0A");
    }
  }

  .content-block{
    width:100%;
  }

  .right{
    float:right;
    margin-inline-start: 3rem;
    @media screen and (max-width:768px){
      margin-inline-start: unset;
    }
  }
  .left{
    float:left;
    margin-inline-end: 3rem;
    @media screen and (max-width:768px){
      margin-inline-end: unset;
    }
  }
  figure{
    margin: 1rem;
    width:40%;
    img{
      display: block;
      width:100%;
      height:auto;
      object-fit: contain;
    }
    figcaption{
      margin:0.5em 0;
    }
  
    @media screen and (max-width:768px){
      float:none;
      width:auto;
    }
  }

}

//Showcase
.showcase{
  //device
  --highlight-height: 75px;
  --monitor-height: 350px;
  --phone-height: 275px;
  --overlap-y: 230px;
  --overlap-x: 80px;

  //highlights
  --padding: 10rem;
  position: relative;

  @media screen and (max-width:768px) {
    --monitor-height: 300px;
    --phone-height: 200px;
    --overlap-y: 175px;
  }

  .devices{
    // opacity: 0.1;

    width:fit-content;
    height:auto;
    margin: auto;
    // padding: var(--highlight-height) 0 0;
  
    position: relative;
    display:grid;
    grid-template-columns: auto var(--overlap-x) auto;
    grid-template-rows: auto calc(var(--monitor-height) - var(--overlap-y)) var(--overlap-y) calc(var(--phone-height) - var(--overlap-y));
    img{
      display: block;
      height: 100%;
      width: 100%;
    }
  
    .swiper-wrapper{
      // background-color: black;
      &::before{
        content:'';
        background:black;
        height: auto;
        width: 1000vw;
        position: absolute;
        transition-property: transform;
        display: block;
        flex-shrink: 0;
        display: block;
        z-index: -1;
        left:-500px;
        right:-500px;
      }
    }
    .monitor{
      aspect-ratio: var(--bg-ratio);
      height:100%;
      // height:200px;
      width:auto;
      isolation: isolate;
      grid-area: 2/2/4/4;
      // grid-area:1/1/-1/-1;
      margin:0;
      place-self:start;
      @media screen and (max-width:600px) {
        grid-area: 2/1/4/4;
      }
      &::after{
        content:'';
        display: block;
        position: absolute;
        inset: 0 0 0 0;
        background-image: var(--bg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
        pointer-events: none;
      }
      .swiper-wrapper{
        height:75%;
        width:100%;
        // padding:1.2% 1.4%;
        z-index: 0;
        &::before{
          height:100%;
          // background-image:url('../images/window_xp.webp');
          // background-size:auto 100%;
          // background-repeat: repeat-x;
        }
      }
      img{
        padding:1.3%;
      }
    }
    .phone{
      aspect-ratio: var(--bg-ratio);
      height:100%;
      // height:100px;
      width:auto;
      isolation: isolate;
      grid-area: 3/1/5/3;
      margin:0;
      place-self:end;
      @media screen and (max-width:600px) {
        grid-area: 3/3/5/4;
      }
      &::after{
        content:'';
        display: block;
        position: absolute;
        inset: 0 0 0 0;
        background-image: var(--bg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
        pointer-events: none;
      }
      .swiper-wrapper{
        padding: 25% 0;
        height: 79%;
        // padding:1.2% 1.4%;
        z-index: 0;
        &::before{
          height:79%;
          // background-image:url('../images/iphone-og.webp');
          // background-size:auto 100%;
          // background-repeat: repeat-x;
        }
      }
    }
    // > .on-rail{
    //   // position: absolute;
    //   grid-area:1/2/2/-1;
    //   height: 50%;
    //   width:auto;
    // }
    .highlights{
      grid-area:1/2/2/-1;
      width:100%;
      height:auto;
      overflow: visible;
      @media screen and (max-width:600px) {
        grid-area:1/1/2/-1;
      }
    }
  }
  .copy{
    font-size:1rem;
    margin: 2em auto;
    text-align: center;
    .agency{
      font-size:1em;
      text-align: center;
      svg{
        display: inline-block;
        height:1.25em;
        padding-left:0.75ch;
        vertical-align: bottom;
      }
    }
    h2{
      font-size: 2em;
      line-height: 0.7;
      margin:0.5em 0;
    }
    .brief{
      font-size: 1.2em;
      max-width: 500px;
      margin: 1em auto;
      text-align: left;
    }
  }
  .tiles{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-auto-rows: auto;
    padding:1rem;
    max-width:var(--max-width);
    gap:1em;
    @media screen and (max-width:768px) {
      grid-template-columns: repeat(auto-fit,minmax(175px, 1fr));
      padding:0.5rem;
    }
    .tile{
      cursor: pointer;
      grid-column: span 1;
      grid-row: span 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: var(--bg-url);
      background-size:cover;
      background-position: top;
      position: relative;
      isolation: isolate;
      aspect-ratio: 3/1;
      // @media screen and (max-width:768px) {
      //   aspect-ratio: 2.5/1;
      // }
      &::before{
        content:'';
        background:rgba(43, 39, 39, 0.678);
        width:100%;
        height:100%;
        position: absolute;
        z-index: 0;
      }
      h3{
        color:white;
        z-index: 1;
        font-size:1.5rem;
        text-align: center;
        text-wrap-style: balance;
      }
    }
  }
}

//ServiceList
@mixin nth-children($count, $height) {
  @for $i from 2 through $count {
    &:nth-child(#{$i}) {
      top: calc(($i - 1) * $height);
    }
  }
}
.service-list{
  --bg: white;
  --titleHeight: 4.5rem;
  $count : 7;
  // background:var(--bg);
  max-width:900px;
  margin:2rem auto;
  position: relative;
  // height: calc(($count) * var(--titleHeight));
  .service{
    position: sticky;
    min-height:var(--titleHeight);
    background:var(--bg);
    border:1px solid grey;
    padding:0.5rem;
    h2{
      margin:0 0 0.5rem 0;
      font-size:3rem;
    }

    &:nth-child(1){
      top: 0px;
      h2{
        margin-top:0px;
      }
    }
    @include nth-children($count, var(--titleHeight));
  }
}


#tooltip {
  position: absolute;
  display: none;
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
// 

.link-out::after{
    content:'';
    display: inline-block;
    height:0.5em;
    width:0.5em;
    translate:0.25em 0;
    vertical-align: middle;
    // padding-left:0.25em;
    background-image:url('../icons/outgoing_link.svg');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
  }